a {
  color: #15c;
  font-weight: 300;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


body {
  font-family: sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  word-break: break-word;
}

button {
  border: none;
  padding: 0.6em;
  background-color: transparent;
  color: #fff;
  font-size: 23px;
}

button:active {
  color: #2673d6;
}

button:hover {
  color: #2673d6;
}

button[disabled] {
  color: #ccc;
}

canvas {
  background-color: #ccc;
  max-width: 100%;
  width: 100%;
}

div#container {
  display: flex;
  height: 100vh;
}


html {
  overflow-y: scroll;
}

img {
  border: none;
  max-width: 100%;
}


section p:last-of-type {
  margin: 0;
}

section {
  border-bottom: 1px solid #eee;
  margin: 0 0 30px 0;
  padding: 0 0 20px 0;
}

section:last-of-type {
  border-bottom: none;
  margin: 0;
  padding: 0 0 1em 0;
}

select {
  margin: 0 1em 1em 0;
  position: relative;
  top: -1px;
}
video {
  background: #000;
  width: 100%;
}

.cam-head{
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #000;
  justify-content: flex-end;
  display: flex;
}
.cam-foot{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#canvas{
  width: 100%;
  height: 100%;
  display: none
}
